.bg {
  margin: 30px 20px 20px 20px;
  padding: 30px;
  border-radius: 35px;
  border: 2px solid #000000;
  background-color: #7eba94;
}

.showDogs {
  .Dog {
    img {
      width: 150px; // 원하는 크기로 조절해주세요
      height: 150px; // 가로 크기에 맞게 자동으로 세로 크기 조절
      object-fit: cover;
    }
  }
}

.Dog {
  width: 400px;
  height: 150px;
  padding: 10px;
  margin: 10px;
  display: flex;
  background-color: skyblue;
}

.Profile {
  margin-left: 10px;
  background-color: aliceblue;
}

.shelterHead {
  display: flex;
  align-items: center;
}
