@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

.bgHome {
  margin: 30px 20px 20px 20px;
  padding: 20px;
  background-color: #7eba94;
  border-radius: 35px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  font-family: "Pretendard";
  height: 750px;
  min-width: 830px;

  p {
    font-size: 25px;
    font-weight: 900;
    margin-left: 60px;
  }
}


.findDog {
  height:200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;

  .finddogInfo {
    margin: -5px 0 0 10px;
  }
}

.polygonPic1 {
  position: absolute;
  top: 40%;
  left: 45px;
  width: 25px;
  transform: scaleX(-1);

}

.polygonPic2 {
  position: absolute;
  top: 40%;
  right: 45px;
  width: 25px;
}

.picBar {
  width: 210px;
  height: 190px;

  background-color: #fff;
  border-radius: 35px;
  border: 2px solid #000000;
  margin: 15px;
  box-shadow: 1.5px 2px 0px #000000;
  overflow: hidden;

  .DogPic {
    width: 210px;
    height: 120px;
    
  }
  .title {
    margin: 10px;
    font-size: 16px;
    font-weight: 900;
  }
  .author {
    margin: 10px;
    font-size: 12px;
  }
}

.hotTopic {
  width: 720px;
  height: 135px;
  padding: 20px;
  margin: 10px auto;
  background-color: #f8f2e5;
  border-radius: 35px;
  border: 2px solid #000000;
  box-shadow: 1.5px 2px 0px #000000;
  align-items: center;

}


.newTopic {
  width: 720px;
  height: 135px;
  padding: 20px;
  margin: 10px auto;
  background-color: #F9EFEF;
  border-radius: 35px;
  border: 2px solid #000000;
  box-shadow: 1.5px 2px 0px #000000;
  align-items: center;

}

.barBox{
  margin: -3px auto;
}

.bar{
  font-size: 18px;
  font-weight: 900;
  display: flex;


  .boardCategory {
    margin: 0 40px;
    width: 100px;
  }

  .boardTitle {
    width: 500px;
    height: 30px;
    overflow: hidden;
  }
}

.plusPic {
  width: 18px;
  margin-right: 8px;
}
