.Groupbar {
  width: 600px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  display: flex;
  background-color: skyblue;
  display: flex;
  align-items: center;
  border-radius: 30px;
  .CommuPic {
    width: 200px; // 원하는 크기로 조절해주세요
    height: 200px; // 가로 크기에 맞게 자동으로 세로 크기 조절
    border-radius: 30px;
    object-fit: cover;
  }
  .Profile {
    margin-left: 10px;
    background-color: aliceblue;
    font-size: 20px;
    width: 350px;
    height: 200px;
  }
}

.Hotbar {
  width: 150px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .CommuPic {
    width: 100px; // 원하는 크기로 조절해주세요
    height: 100px; // 가로 크기에 맞게 자동으로 세로 크기 조절
    border-radius: 10px;
    object-fit: cover;
  }
  .Profile {
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    font-size: 10px;
    width: 100px;
    height: 150px;
  }
}

.Hotzone {
  width: 630px;
  height: 400px;
  display: flex;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MakeGroup {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 10px;
  background-color: blue;
  color: aliceblue;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
