.outerpage1 {
  width: 70vw;
  max-width: 900px;
  height: 70vh;
}

.container {
  border-radius: 35px;
  border: 2px solid #000000;
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 0px #000000;

  &.one {
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7eba94;
  }

  &.two {
  }
}

.boardTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;

  th {
    position: relative;
    padding: 0;
    height: 60px;
    border: 2px solid #000;
    background-color: #f5ba3f;
    color: #000000;
    border-radius: 35px;
    box-sizing: border-box;
    box-shadow: 1.5px 2px 0px #000000;
  }

  .pagelist {
    position: relative;
    padding: 0;
    height: 60px;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #000;
      border-radius: 35px;
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: 1.5px 2px 0px #000000;
      z-index: -1;
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }

  td {
    &.cellWriter {
      text-align: center;
    }

    &.cellTitle {
      /* 제목 칸에 대한 스타일 */
    }

    &.cellComment {
      /* 댓글 수 칸에 대한 스타일 */
      text-align: center;
    }

    &.cellViews {
      /* 조회수 칸에 대한 스타일 */
      text-align: center;
    }
  }
}

.button {
  font-size: 20px;
  font-weight: 900;
  width: 150px;
  height: 60px;
  border-radius: 35px;
  border: 2px solid #000000;
  background-color: #f5ba3f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  box-shadow: 1.5px 2px 0px #000000;
}
