.boardTable {
  width: 100%;

  th {
    font-weight: bold;
    color: brown;
  }

  td {
    &.cellWriter {
      text-align: center;
    }

    &.cellTitle {
      /* 제목 칸에 대한 스타일 */
    }

    &.cellComment {
      /* 댓글 수 칸에 대한 스타일 */
      text-align: center;
    }

    &.cellViews {
      /* 조회수 칸에 대한 스타일 */
      text-align: center;
    }
  }
}
