@mixin box {
  border-radius: 35px;
  border: 2px solid black;
  background-color: white;
}

.container {
  margin: 0 0 0 50px;
}

.bg {
  // display: block;
  // justify-content: center;
  // align-items: center;

  width: 830px;
  // height: 750px;
  padding: 25px;
  margin: -15px 0 0px 25px;

  position: relative;
  top: 100px;

  font-family: 'Pretendard';
  font-weight: 600;
  background-color: #7eba94;

  border-radius: 35px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #000000;
}
.container {
  margin: -80px 0 0 0px;
  padding: 0;

  border-radius: 35px;
  border: 2px solid #000000;
  // margin: 5px;
  background-color: #f5ba3f;
  box-shadow: 4px 4px 0px #000000;

  h2 {
    margin: 25px 0 10px 25px;
  }

  .category {
    margin: 10px 0px 15px 25px;
    font-size: 20px;
  }

  .innerContainer {
    position: relative;

    background-color: white;
    border-top: 2px solid black;
    border-radius: 0 0 35px 35px;
    // width: ;
    // height: 62vh;
    padding: 30px;

    .title {
      font-size: 23px;
    }

    .user {
      font-size: 20px;
      margin: 15px 0 5px 0;
      cursor: pointer;
    }

    .makeboard {
      font-size: 15px;
      color: #353535;
    }

    .divisionLine {
      border-bottom: 2px solid rgb(138, 138, 138);
      margin: 50px auto 50px auto;
    }

    .img {
      max-width: 767px;
      // width: auto;
      margin: 0 0 40px 0;
    }

    .content {
      white-space: pre-line; // 줄바꿈 문자(\n) 적용
    }

    .commentContent {
      border: 2px solid black;
      width: auto;
      height: auto;
      padding: 0 0 20px 0;
    }

    .comments {
      margin: 40px 0 0 0;
      .commentsText {
        @include box;
        width: 753px;
        height: 23px;
        resize: none;
        padding: 10px 0 10px 13px;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    }

    @mixin btn-style {
      font-size: 15px;
      font-weight: 900;
      width: 80px;
      height: 35px;
      border-radius: 35px;
      border: 2px solid #000000;
      background-color: #f5ba3f;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      box-shadow: 1.5px 2px 0px #000000;
    }

    .btn {
      @include box;
      @include btn-style;
      padding: 5px;
      cursor: pointer;
      margin: 5px 0 0 688px;
    }
  }
}
