@mixin box {
  border-radius: 35px;
  border: 2px solid black;
  background-color: white;
}

@mixin btn-style {
  font-size: 15px;
  font-weight: 900;
  width: 80px;
  height: 35px;
  border-radius: 35px;
  border: 2px solid #000000;
  background-color: #f5ba3f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 1.5px 2px 0px #000000;
}

@mixin small-btn {
  width: 60px;
  height: 30px;
  background-color: #edf5ed;
  border-radius: 15px;
  font-weight: 600;
  font-size: 13px;
  margin: 0 3px 0 3px;
}

.container {
  margin: 0 0 0 50px;
}

.bg {
  // display: block;
  // justify-content: center;
  // align-items: center;

  width: 830px;
  min-height: 685px;
  padding: 25px;
  margin: 83px 0 0px 18px;

  position: relative;

  font-family: "Pretendard";
  font-weight: 600;
  background-color: #7eba94;

  border-radius: 35px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #000000;
}
.container {
  // min-height: 760px;
  margin: -80px 0 0 0px;
  padding: 0;

  border-radius: 35px;
  border: 2px solid #000000;
  // margin: 5px;
  background-color: #f5ba3f;
  box-shadow: 4px 4px 0px #000000;

  h2 {
    margin: 25px 0 10px 25px;
  }

  .category {
    margin: 10px 0px 15px 25px;
    font-size: 20px;
  }

  .innerContainer {
    position: relative;

    min-height: 592px;
    background-color: white;
    border-top: 2px solid black;
    border-radius: 0 0 35px 34px;
    // width: ;
    // height: 62vh;
    padding: 30px;

    .title {
      font-size: 23px;
    }

    .user {
      display: inline-block;
      font-size: 20px;
      margin: 15px 0 5px 0;
      cursor: pointer;
    }

    .makeboard {
      font-size: 15px;
      color: #353535;
    }

    .contentsBtn {
      display: flex;
      justify-content: flex-end;

      .textEditBtn {
        @include small-btn;
        cursor: pointer;
      }
      .textDelBtn {
        @include small-btn;
        cursor: pointer;
      }
    }

    .divisionLine {
      border-bottom: 1px solid rgb(162, 162, 162);
      margin: 20px auto 50px auto;
    }

    .img {
      // max-width: 767px;
      width: 767px;
      margin: 0 0 40px 0;
    }

    .content {
      white-space: pre-line; // 줄바꿈 문자(\n) 적용
      font-size: 16px;
    }

    // 댓글
    p {
      font-size: 20px;
      margin: 0 0 0px 0;
    }

    .commentsForm {
      margin: 0 0 35px 0;

      .comments {
        margin: 40px 0 0 0;

        .commentsText {
          @include box;
          width: 753px;
          height: 23px;
          resize: none;
          padding: 10px 0 10px 13px;
          font-size: 15px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
      }

      .btn {
        @include box;
        @include btn-style;
        padding: 5px;
        cursor: pointer;
        margin: 5px 0 0 688px;
      }
    }

    .commentContainer {
      // border: 2px solid black;
      width: auto;
      height: auto;
      padding: 0 0 15px 0;

      .commentContainer2 {
        display: flex;
        // border: 2px solid rgb(100, 255, 162);
        justify-content: space-between;
        margin: 5px 0 5px 0;

        input {
          width: 300px;
          height: 25px;
          border: 2px solid black;
          border-radius: 20px;
          margin: 4px 0 0 0;
          font-size: 15px;
          padding: 0 0 0 5px;
        }

        .comment {
          display: flex;
          // justify-content: left;
          flex-direction: row;
          // border: 2px solid rgb(88, 183, 255);
          margin: 5px 0 0 0;

          .commentInput {
            width: 400px;
          }
          .nickname {
          }

          .commentContent {
            margin: 0 0 0 10px;
          }

          .makecomment {
            font-size: 15px;
            font-weight: 400;
            margin: 3px 0 0 10px;
          }
        }

        .commentBtn {
          display: flex;
          justify-content: flex-end;
          // margin: -20px 0 0 0;
          // border: 3px solid rgb(255, 113, 113);
          // float: right;

          .saveBtn {
            @include small-btn;
          }

          .editBtn {
            @include small-btn;
          }

          .delBtn {
            @include small-btn;
          }
        }
      }
    }
  }
}
