.navContainer {
  border: 1px solid blue;
  width: 100%;
  min-width: 180px;
  max-width: 250px;
  max-height: 100vh;

  color: black;
  background-color: #edf5ed;

  .logo {
    margin-bottom: 50px;
  }

  ul {
    list-style-type: none;
    // width: 300px;
    overflow: visible;
    // border: 1px solid red;
    padding: 0;
    margin: 20px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .category {
    text-decoration: none;
    // padding: 10px;
    display: block;
    color: #000;
    font-weight: bold;
  }

  li {
    background: #edf5ed;
    min-width: 100px;
    max-width: 150px;
    margin: auto;
    text-align: center;
    padding: 15px;
    margin-bottom: 50px;
    border: 2px solid rgba(0, 0, 0, 0);
  }

  li:hover {
    background: #f5ba3f;
    color: #fff;
    border-radius: 35px;
    border: 2px solid #000000;
    box-shadow: 1.5px 2px 0px #000000;
  }

  li a:active {
    background: #f5ba3f;
    color: #fff;
  }
}
