.navContainer {
  border: 1px solid blue;
  width: 250px; 
  max-height: 100vh;
  color: black; 
  background-color: #EDF5ED;
  
  .logo {
  }


  ul {
    list-style-type: none;
    width: 300px;
    overflow: auto;
    // border: 1px solid red;
  }

  a {
    text-decoration: none;
    color: black;
  }
  
  .category {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #000;
    font-weight: bold;
  }

  li {
    background: #EDF5ED;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
  }
  
  li:hover {
    background: #F5BA3F;
    color: #fff; 
    border-radius: 35px;
    border: 2px solid #000000;
  }

  li a:active {
    background: #F5BA3F;
    color: #fff;
  }
  

}