@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

.media {
  max-width: 900px;
  min-width: 300px;
}

.bg {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
  font-family: 'Pretendard';
  font-weight: 600;
  background-color: #f8f8f8;
}

textarea:focus,
input:focus {
  outline: none;
}

hr {
  margin-left: -30px;
  margin-right: -30px;
  border: 1px solid #000000;
}

.button {
  font-size: 20px;
  font-weight: 900;
  width: 150px;
  height: 60px;
  border-radius: 35px;
  border: 2px solid #000000;
  background-color: #f5ba3f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  box-shadow: 1.5px 2px 0px #000000;

  &.submit {
    width: 100px;
    height: 40px;
    font-size: 12px;
    align-self: flex-end;
    margin-left: auto;
  }

  &.prev {
    background-color: #fa8b8b;
  }

  &.next {
    background-color: #fa8b8b;
  }

  &.back {
    background-color: #f5ba3f;
  }

  &.delete {
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 35px;
  border: 2px solid #000000;
  padding: 0px;
  margin: 5px;
  background-color: #ffffff;
  box-shadow: 4px 4px 0px #000000;

  &.main {
    height: 82vh;
    margin: 20px;
    margin-top: 80px;
    background-color: #7eba94;
  }

  &.commentwrite {
    display: flex;
    flex-direction: column-reverse;
    background-color: #edf5ed;
    padding: 20px;
  }

  .detail {
    display: flex;
    flex-direction: row-reverse;

    font-size: 12px;
    * {
      padding-left: 30px;
      font-weight: 700;
    }
  }

  &.page {
    font-size: 15px;
    line-height: 150%;
    padding: 30px;
    padding-top: 15px;
    position: relative;

    &.one {
      margin: 0px 30px 0px 30px;
      margin-top: -80px;
      background-color: #f5ba3f;
      border-radius: 35px 35px 0px 0px;
    }

    &.two {
      margin: 0px 30px 0px 30px;
      border-radius: 0px 0px 35px 35px;
      margin-top: -2px;
      height: 60vh;
    }

    .Title {
      font-size: 30px;
      font-weight: 700;
      padding-bottom: 15px;
    }
    .Content {
      margin-left: 40px;
      margin-right: 4rex;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  &.comment {
    padding-top: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.commentsTable {
  border-spacing: 5px 15px;
  font-size: 15px;
  margin: 0 0 0 -530px;

  tbody {
    td {
    }
  }
}

.cWriter {
  font-weight: 900;
  width: 20%;
}

.commentsText {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
}

.btn {
  width: 60px;
  height: 30px;
  background-color: #edf5ed;
  border-radius: 15px;
  font-weight: 600;
  font-size: 13px;
  margin: 0 3px 0 3px;
}
