.bg {
  display: block;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  padding: 10px;
  font-family: "Pretendard";
  font-weight: 600;
  background-color: #f8f8f8;
  max-width: 1200px;
  min-width: 850px;
}

.container {
  border-radius: 35px;
  border: 2px solid #000000;
  padding: 0px;
  margin: 5px;
  background-color: #7eba94;
  box-shadow: 4px 4px 0px #000000;
}

.signinBtn {
  position: absolute;
  top: 10px;
  right: 0;
  margin: 10px;
}

.logo {
  margin: 40px;
  font-size: 35px;
}

.nav {
  width: 00px;
  background-color: pink;
  display: flex;
  justify-content: space-around;
}

.category {
  border: 2px solid black;
  width: 450px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 35px;
  background-color: #fa8b8b;
  font-size: 20px;
  font-weight: 900;
  margin: 20px auto;
  box-shadow: 1.5px 2px 0px #000000;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      margin-right: 50px; 

      &:last-child {
        margin-right: 0; /* 마지막 항목의 간격을 없애기 위해 */
      }
    }
  }
}

.contents {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 20px;

  .box {
    display: flex;
    width: calc(50% - 10px);
    height: auto;
    padding: 10px;
    background-color: #f8f2e5;
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;

    .bar {
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 15px;

      p {
        margin: 8px 0;
        font-size: 16px;
        align-self: flex-start;
        color: #555;

        &:last-child {
          align-self: flex-end;
        }
      }

      .image {
        margin-left: auto;
        align-self: flex-end;
      
        img {
          width: 200px;
        }
      }
    }

    .title {
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 10px;
    }

    .content {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .category_contents,
    .user_id,
    .viewcount {
      font-size: 14px;
      color: #555;
      align-self: flex-start;
    }

    .makeboard {
      margin-left: auto;
    }

    .image {
      margin-left: auto;
    }
  }
}

.writeButton {
  font-size: 20px;
  font-weight: 900;
  width: 150px;
  height: 60px;
  border-radius: 35px;
  border: 2px solid #000000;
  background-color: #f5ba3f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-left: auto;
  box-shadow: 1.5px 2px 0px #000000;
}
