.bg {

  display: block;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  padding: 10px;
  font-family: "Pretendard";
  font-weight: 600;
  background-color: #f8f8f8;
}

.container {
  border-radius: 35px;
  border: 2px solid #000000;
  padding: 0px;
  margin: 5px;
  background-color: #7eba94;
  box-shadow: 4px 4px 0px #000000;
}

.signinBtn {
  position: absolute;
  top: 10px;
  right: 0;
  margin: 10px;
}

.logo {
  margin: 40px;
  font-size: 35px;
}

.nav {
  width: 00px;
  // padding: 10px;
  // margin: 10px;
  background-color: pink;
  display: flex;
  justify-content: space-around;
}

.category {
  border: 2px solid black;
  width: 600px;
  display: flex;
  justify-content:space-around;
  border-radius: 35px;
  background-color: #fa8b8b;
  font-size: 20px;
  font-weight: 900;
  margin: 20px auto;
  box-shadow: 1.5px 2px 0px #000000;
}


.contents {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 20px;
}

.box {
  width: calc(50% - 10px); 
  height: auto;
  padding: 10px;
  background-color: #F8F2E5;
  border: 2px solid black;
  border-radius: 20px;
  box-sizing: border-box; 
}

.bar {
  padding: 10px;
  border-radius: 15px;
}

.bar p {
  margin: 8px 0;
  font-size: 16px;
}


.category_contents {
}

.title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.content {
  font-size: 16px;
  margin-bottom: 10px;
}

.user_id,
.image,
.makeboard,
.viewcount {
  font-size: 14px;
  color: #555;
}




.writeButton {
  font-size: 20px;
  font-weight: 900;
  width: 150px;
  height: 60px;
  border-radius: 35px;
  border: 2px solid #000000;
  background-color: #f5ba3f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-left: auto;
  box-shadow: 1.5px 2px 0px #000000;
}