@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

.bg {
  margin: 30px 20px 20px 20px;
  padding: 10px;
  background-color: #7eba94;
  border-radius: 35px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  font-family: 'Pretendard';
  height: 770px;
  min-width: 890px;
  max-width: 890px;
}

.category {
  display: flex;
  align-items: center;
  height: 65px;
  width: 820px;
  border: 2px solid #000000;
  border-radius: 35px;
  margin: 10px auto;
  box-shadow: 1.5px 2px 0px #000000;
  background-color: #fa8b8b;
  justify-content: space-around;
  font-weight: bold;
  justify-content: flex-start;

  ul {
    list-style-type: none;
    display: flex;

    li {
      margin-right: 50px;
      cursor: pointer;
    }
  }

  .pagination {
    margin-left: 20px;
    display: flex;
    align-items: center;

    span {
      margin: -5px 0 0 0;
    }
    .pageButton {
      margin: 0 20px;
      border-radius: 10px;
      width: 60px;
      height: 35px;
      background-color: transparent;
      border: 2px solid transparent;
      cursor: pointer;
    }
  }

  .writeButton {
    font-size: 18px;
    font-weight: 900;
    width: 90px;
    height: 40px;
    border-radius: 35px;
    border: 2px solid #000000;
    background-color: #f5ba3f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: auto;
    cursor: pointer;
  }
}

.contents {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 20px;

  .box {
    position: relative;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;

    .image {
      img {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .makeboard {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 10px 30px 13px;
      font-size: 12px;
      color: #626262;
    }
  }
}

.box {
  width: 375px;
  height: 120px;
  padding: 15px;
  margin: 8px;
  display: flex;
  background-color: #f8f2e5;
  border-radius: 35px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #000000;
}

.bar {
  width: 260px;
  font-size: 12px;
  background-color: none;
  margin-left: 15px;

  .category_contents {
    margin-bottom: 5px;
  }

  .title {
    font-size: 19px;
    font-weight: 900;
    margin-bottom: 8px;
  }

  .content {
    font-size: 15px;
    color: #000;
    margin-bottom: 8px;
    
  }

  .user_id {
    margin-bottom: 3px;
  }

  .viewPic {
    width: 16px;
    margin-right: 5px;
  }

  .viewcount {
    font-size: 12px;
    color: #626262;
    margin-top: 6px;
  }
}

p {
  margin: 0;
}
